[workspace]
resolver = "2"

members = [
    "soroban-env-host",
    "soroban-env-guest",
    "soroban-env-common",
    "soroban-env-common/tests/no_std",
    "soroban-env-macros",
    "soroban-builtin-sdk-macros",
    "soroban-test-wasms",
    "soroban-synth-wasm",
    "soroban-bench-utils",
]

exclude = ["soroban-test-wasms/wasm-workspace"]

[workspace.package]
version = "20.0.0-rc2"

[workspace.dependencies]
soroban-env-common = { version = "=20.0.0-rc2", path = "soroban-env-common", default-features = false }
soroban-env-guest = { version = "=20.0.0-rc2", path = "soroban-env-guest" }
soroban-env-host = { version = "=20.0.0-rc2", path = "soroban-env-host" }
soroban-env-macros = { version = "=20.0.0-rc2", path = "soroban-env-macros" }
soroban-builtin-sdk-macros = { version = "=20.0.0-rc2", path = "soroban-builtin-sdk-macros" }

# NB: When updating, also update the version in rs-soroban-env dev-dependencies
[workspace.dependencies.stellar-xdr]
version = "20.0.0"
git = "https://github.com/stellar/rs-stellar-xdr"
rev = "24dd3c1b9fada6e2b28e8456a915adc212d6c47e"
default-features = false

[workspace.dependencies.wasmi]
package = "soroban-wasmi"
version = "=0.31.1-soroban.20.0.0"
git = "https://github.com/stellar/wasmi"
rev = "ab29800224d85ee64d4ac127bac84cdbb0276721"

# [patch."https://github.com/stellar/rs-stellar-xdr"]
# stellar-xdr = { path = "../rs-stellar-xdr/" }
# [patch."https://github.com/stellar/wasmi"]
# soroban-wasmi = { path = "../wasmi/crates/wasmi/" }
# soroban-wasmi_core = { path = "../wasmi/crates/core/" }

[profile.release]
lto = true

[profile.test-opt]
inherits = "test"
opt-level = 3
debug = false
