[package]
name = "stellar-contract-host"
version = "0.1.0"
edition = "2021"

[dependencies]
static_assertions = "1.1.0"
stellar-xdr = { git = "https://github.com/graydon/rs-stellar-xdr", branch = "contract" }
im-rc = { version = "15.0.0", optional = true }
num-bigint = { version = "0.4", optional = true }
num-rational = { version = "0.4", optional = true }

[features]
default = ["host_context"]
host_context = ["im-rc", "num-bigint", "num-rational"]

[target.'cfg(not(target_family="wasm"))'.features]
default = ["host_context"]

[target.'cfg(target_family="wasm")'.features]
default = []
