[workspace]
resolver = "2"

members = [
    "soroban-env-host",
    "soroban-env-guest",
    "soroban-env-common",
    "soroban-env-common/tests/no_std",
    "soroban-env-macros",
    "soroban-native-sdk-macros",
    "soroban-test-wasms",
    "soroban-synth-wasm",
]

exclude = ["soroban-test-wasms/wasm-workspace"]

[workspace.package]
version = "0.0.17"

[workspace.dependencies]
soroban-env-common = { version = "0.0.17", path = "soroban-env-common", default-features = false }
soroban-env-guest = { version = "0.0.17", path = "soroban-env-guest" }
soroban-env-host = { version = "0.0.17", path = "soroban-env-host" }
soroban-env-macros = { version = "0.0.17", path = "soroban-env-macros" }
soroban-native-sdk-macros = { version = "0.0.17", path = "soroban-native-sdk-macros" }

[workspace.dependencies.stellar-xdr]
version = "0.0.17"
git = "https://github.com/stellar/rs-stellar-xdr"
rev = "3f5fdb4c485d5539245474dd62df7b685f2258e0"
default-features = false

[workspace.dependencies.wasmi]
package = "soroban-wasmi"
version = "0.30.0-soroban"
git = "https://github.com/stellar/wasmi"
rev = "3dc639fde3bebf0bf364a9fa4ac2f0efb7ee9995"

[workspace.dependencies.stellar-strkey]
version = "0.0.7"
git = "https://github.com/stellar/rs-stellar-strkey"
rev = "e6ba45c60c16de28c7522586b80ed0150157df73"

# [patch."https://github.com/stellar/rs-stellar-xdr"]
# stellar-xdr = { path = "../rs-stellar-xdr/" }
# [patch."https://github.com/stellar/wasmi"]
# soroban-wasmi = { path = "../wasmi/crates/wasmi/" }
# soroban-wasmi_core = { path = "../wasmi/crates/core/" }

[profile.release]
codegen-units = 1
lto = true
