[workspace]
resolver = "2"

members = [
    "soroban-env-host",
    "soroban-env-guest",
    "soroban-env-common",
    "soroban-env-common/tests/no_std",
    "soroban-env-macros",
    "soroban-native-sdk-macros",
    "soroban-test-wasms",
    "soroban-synth-wasm"
]

exclude = ["soroban-test-wasms/wasm-workspace"]

[workspace.package]
version = "0.0.9"

[workspace.dependencies]
soroban-env-common = { version = "0.0.9", path = "soroban-env-common" }
soroban-env-guest = { version = "0.0.9", path = "soroban-env-guest" }
soroban-env-host = { version = "0.0.9", path = "soroban-env-host" }
soroban-env-macros = { version = "0.0.9", path = "soroban-env-macros" }
soroban-native-sdk-macros = { version = "0.0.9", path = "soroban-native-sdk-macros" }

[workspace.dependencies.stellar-xdr]
version = "0.0.7"
git = "https://github.com/stellar/rs-stellar-xdr"
rev = "e88f9fa7"
default-features = false

[workspace.dependencies.wasmi]
package = "soroban-wasmi"
version = "0.16.0-soroban1"
git = "https://github.com/stellar/wasmi"
rev = "d1ec0036"

# [patch."https://github.com/stellar/rs-stellar-xdr"]
# stellar-xdr = { path = "../rs-stellar-xdr/" }
# [patch."https://github.com/stellar/wasmi"]
# wasmi = { path = "../wasmi/" }

[profile.release]
codegen-units = 1
lto = true
