name: 'check for changes that should accompany env.rs change'

on:
  pull_request:
    paths:
      - 'stellar-contract-env-common/src/env.rs'

jobs:
  check:
    runs-on: 'ubuntu-20.04'
    steps:
    - name: "check stellar-contract-env-common/src/meta.rs was modified"
      uses: brettcannon/check-for-changed-files@36aaa76474fc979db4e19e44c05e8e978759ac01
      with:
        file-pattern: "stellar-contract-env-common/src/meta.rs"
    - name: "check 'interface_version:' changed in the diff"
      uses: graydon/gh-pr-content-checker@a85f72c50a84400bb3e0837555b5a50c985370e7
      with:
        github-token: ${{github.token}}
        diffContainsRegex: " interface_version: [0-9]+,"
    - name: "check stellar-contract-env-host/wasm-examples/*.wasm were modified"
      uses: brettcannon/check-for-changed-files@36aaa76474fc979db4e19e44c05e8e978759ac01
      with:
        file-pattern: "stellar-contract-env-host/wasm-examples/*.wasm"
